<%- include ("./templates/_headerHome") %>

<div id="about-us">
    <h3> Acerca de nosotros</h3>
    <p> Nosotros somos un sitio que busca comunicar a los alumnos para calificar a sus profesores y ayudarlos a tener un semestre exitoso. </p>
</div>
<h4> Profesores: </h4>
<div  class="col-md-7" id="contenedor"> <!--placeholder para desplegar a profes-->
    <table class= "table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
        </thead>
        
        <tbody>

            <% for (var i = 0; i < users.length; i++) {   %>
                <tr>
                    <td> <%= i+1 %> </td>
                    <td> <a href="/ve-profe/<%= users[i]._id%>"> <%= users[i].username %> </a> </td> 
                    <td> <%= users[i].email %> </td>
                    <td>
                        <a href="/edit/<%= users[i]._id%>" class="btn btn-info">Edit</a>
                        <a href="/delete2/<%= users[i]._id%>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <% } %>
        </tbody>
       
        
    </table>

<%- include ("./templates/_footer") %>