<%- include ("./templates/_header") %>

<div id="about-us">
    <h3> Acerca de nosotros</h3>
    <p> Nosotros somos un sitio que busca comunicar a los alumnos para calificar a sus profesores y ayudarlos a tener un semestre exitoso. </p>
</div>
<div id="seccion-crear">
    <h3> Crea una entrada al portal</h3>
    <a href="/crea-profe"><button class="btn btn-primary btn-lg"> Agrega a un profesor</button></a>
</div>
<h4> Profesores: </h4>
<div  class="col-md-7" id="contenedor"> <!--placeholder para desplegar a profes-->
    <table class= "table table-bordered table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Calificación</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        
        <tbody>

            <% for (var i = 0; i < pr.length; i++) {   %>
                <tr>
                    <td> <%= i+1 %> </td>
                    <td> <a href="/ve-profe/<%= pr[i]._id%>"> <%= pr[i].prof_name %> </a> </td> <!--agregar link a ruta /ve-profe/<%= pr[i]._id%>-->
                    <td> <%= pr[i].grade %> </td>
                    <td>
                        <a href="/edit/<%= pr[i]._id%>" class="btn btn-info">Edit</a>
                        <a href="/delete/<%= pr[i]._id%>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <% } %>
        </tbody>
       
        
    </table>
</div>


<%- include ("./templates/_footer") %>