<%- include ("./templates/_header") %>
<h3><%=pr.prof_name%></h3>
<p>Calificacion: <%=pr.grade%></p>
<p>Materia: <%=pr.materia%></p>
<p>Descripción: <%=pr.description%></p>
<%- include ("./templates/_footer") %>